.productList {
  background: #b8b8ff;
  margin-top: 60px;
  position: relative;
  left: 30%;
  padding-left: 20px;
  padding-top: 0px;
  padding-bottom: 10px;
  display: inline-block;
  width: 600px;
  border-radius: 20px;
  margin-bottom: 20px;
}

button {
  position: relative;
  left: 30px;
}
